
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <title>Coding Resources</title>
    </head>
    <body>
        <h2>Coding Resources</h2>
        <p> Here is a list of coding resources! </p>
        <ol>
            <li> <a href="https://www.udemy.com/">Udemy</a> </li>
            <li> <a href="https://www.udacity.com/">Udacity</a> </li>
            <li> <a href="https://www.datacamp.com/">Datacamp</a> </li>
            <h3> FREE Resources: </h3>
            <li> <a href="https://www.freecodecamp.org/">FreeCodeCamp</a> </li>
            <li> <a href="https://www.tutorialspoint.com/index.htm">Tutorials Point</a> </li>
            <li> <a href="https://www.codecademy.com/">CodeAcademy</a> </li>
        </ol>
        <!-- Go back button for convenience -->
        <button onclick="goBack()">Go Back</button>
    </body>
    <script> function goBack() {window.history.back();}</script>
</html>