* {
    box-sizing: border-box;
}

body {
    background: #93c35c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2fd4c1, #6f3a86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26efc0, #811b98); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

